@import url('https://fonts.googleapis.com/css?family=Megrim')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,700,800')

$blue-dark: #275268
$blue-light: #e8f2f2
$accent-color: #A45038
$fancy-font: 'Megrim', cursive
$normal-font: 'Open Sans', sans-serif


$home-background-color: $blue-dark
$home-text-color: $blue-light
$home-footer-background-color: $blue-light
$home-footer-text-color: $blue-dark
$home-h1-font: $fancy-font
$home-font: $normal-font
$portfolio-background-color: #ffffff
$portfolio-font-color: #333333
$muted-text-color: #999999

body
  background-color: $home-background-color
  .nda-text
      color: $muted-text-color!important
      font-style: italic
  strong
    font-weight: 700!important
    &.project-emphasize
      color: $accent-color
  &.portfolio-main
    background-color: $portfolio-background-color
    .h1-site,
    .h2-site,
    .project-description
      color: $portfolio-font-color
    .footer
      background-color: $blue-dark
      a
        color: $blue-light
        font-family: $home-font
        &:hover,
        &:visited,
        &:focus
          color: $blue-light
          text-decoration: none
  &.portfolio-demo
    background-color: $portfolio-background-color
    .h1-site,
    .h2-site,
    p
      color: #333333
  .portfolio-demo-button
    font-family: $home-font
    font-weight: 300!important
    &.btn-outline-primary
      background-color: $blue-dark
      color: $blue-light
      border-color: $blue-light
    &:hover,
    &:active
      background-color: $blue-light
      color: $blue-dark


  nav
    background-color: $blue-dark !important
    a
      &.navbar-brand
        color: $blue-light!important
        font-family: $fancy-font
    .nav-link
      font-family: $normal-font
      font-weight: 300!important



  .footer
    position: fixed
    bottom: 0
    width: 100%
    min-height: 5vh
    line-height: 5vh
    background-color: $home-footer-background-color
    color: $home-footer-text-color

    a
      color: $home-footer-text-color
      font-family: $home-font
      font-size: 13px
      text-transform: none
      &:hover,
      &:visited,
      &:focus
        color: $home-footer-text-color
        text-decoration: none
      i
        font-size: 13px

  .vertical-content
    top: 50%
    -webkit-transform: translateY(-50%)
    -moz-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    -o-transform: translateY(-50%)
    transform: translateY(-50%)
    &.fixed
      position: fixed
    &.relative
      position: relative

  .h1-homepage,
  .h2-homepage,
  .h3-homepage
    color: $home-text-color
    white-space: nowrap

  .h1-homepage
    font-family: $home-h1-font
    font-size: 16vmin

  .h2-homepage,
  .h3-homepage
    font-family: $home-font

  .h2-homepage
    font-size: 3vmin
    font-weight: 600!important
    padding: 20px 0

  .h3-homepage
    font-size: 2vmin
    font-weight: 300!important

  #portfolio-button
    font-family: $home-font
    font-weight: 300!important
    &.btn-outline-primary
      color: $blue-light
      border-color: $blue-light
    &:hover,
    &:active
      background-color: $blue-light
      color: $blue-dark

  .portfolio-item
    padding: 30px 0
    color: $portfolio-font-color
    a
      padding-left: 0
      color: $portfolio-font-color
      font-family: $normal-font
      font-weight: 300!important
      font-size: .8rem
      &:hover
        text-decoration: underline

  .h1-site,
  .h2-site
    color: $home-text-color
    font-family: $home-font
    font-weight: 600!important

  .h2-site
    font-size: 1.5rem
    padding-left: 0

  p
    color: $home-text-color
    font-family: $home-font
    font-weight: 400!important
    &.project-description
      font-size: .9rem
      padding-left: 0

  .portfolio-img
    height: 300px
    position: relative
    overflow: hidden
    background: rgba(39, 82, 104, 0.5)
    border: 10px solid white
    border-radius: 20px
    //border-radius: 20px
    &:hover
      background-color: $blue-light
      cursor: pointer
      &:after
        position: absolute
        display: block
        top: 50%
        -webkit-transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
        transform: translateY(-50%)
        vertical-align: -50%
        color: $blue-dark
        white-space: pre
        font-family: $normal-font
        text-align: center
        font-size: 22px
        padding: 20px
      &#help:after
        content: 'Employee Help Screen'
      &#idea:after
        content: 'Employee Idea Site'
      &#icons:after
        content: 'Material Icons'
    &:before
      background: $blue-dark
      border-radius: 20px
      content: ''
      text-align: center
      display: block
      left: 0
      top: 0
      width: 100%
      height: 100%
      z-index: 1
      opacity: 0.1
      //&:hover
      //  background-color: $blue-light
    &#help:before
      background: url("../../images/help-mobile.png") no-repeat 50% 60%
      background-size: cover
    &#idea:before
      background: url("../../images/idea_sketch.jpg") no-repeat 55% 30%
    &#icons:before
      background: url("../../images/material-icons/all_icons.png") no-repeat 50% 60%
      background-size: contain
