@import url("https://fonts.googleapis.com/css?family=Megrim");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:900");
@import url("https://fonts.googleapis.com/css?family=Lato:400,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600,700,800");
body {
  background-color: #275268; }
  body .nda-text {
    color: #999999 !important;
    font-style: italic; }
  body strong {
    font-weight: 700 !important; }
    body strong.project-emphasize {
      color: #A45038; }
  body.portfolio-main {
    background-color: #ffffff; }
    body.portfolio-main .h1-site,
    body.portfolio-main .h2-site,
    body.portfolio-main .project-description {
      color: #333333; }
    body.portfolio-main .footer {
      background-color: #275268; }
      body.portfolio-main .footer a {
        color: #e8f2f2;
        font-family: "Open Sans", sans-serif; }
        body.portfolio-main .footer a:hover, body.portfolio-main .footer a:visited, body.portfolio-main .footer a:focus {
          color: #e8f2f2;
          text-decoration: none; }
  body.portfolio-demo {
    background-color: #ffffff; }
    body.portfolio-demo .h1-site,
    body.portfolio-demo .h2-site,
    body.portfolio-demo p {
      color: #333333; }
  body .portfolio-demo-button {
    font-family: "Open Sans", sans-serif;
    font-weight: 300 !important; }
    body .portfolio-demo-button.btn-outline-primary {
      background-color: #275268;
      color: #e8f2f2;
      border-color: #e8f2f2; }
    body .portfolio-demo-button:hover, body .portfolio-demo-button:active {
      background-color: #e8f2f2;
      color: #275268; }
  body nav {
    background-color: #275268 !important; }
    body nav a.navbar-brand {
      color: #e8f2f2 !important;
      font-family: "Megrim", cursive; }
    body nav .nav-link {
      font-family: "Open Sans", sans-serif;
      font-weight: 300 !important; }
  body .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 5vh;
    line-height: 5vh;
    background-color: #e8f2f2;
    color: #275268; }
    body .footer a {
      color: #275268;
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      text-transform: none; }
      body .footer a:hover, body .footer a:visited, body .footer a:focus {
        color: #275268;
        text-decoration: none; }
      body .footer a i {
        font-size: 13px; }
  body .vertical-content {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    body .vertical-content.fixed {
      position: fixed; }
    body .vertical-content.relative {
      position: relative; }
  body .h1-homepage,
  body .h2-homepage,
  body .h3-homepage {
    color: #e8f2f2;
    white-space: nowrap; }
  body .h1-homepage {
    font-family: "Megrim", cursive;
    font-size: 16vmin; }
  body .h2-homepage,
  body .h3-homepage {
    font-family: "Open Sans", sans-serif; }
  body .h2-homepage {
    font-size: 3vmin;
    font-weight: 600 !important;
    padding: 20px 0; }
  body .h3-homepage {
    font-size: 2vmin;
    font-weight: 300 !important; }
  body #portfolio-button {
    font-family: "Open Sans", sans-serif;
    font-weight: 300 !important; }
    body #portfolio-button.btn-outline-primary {
      color: #e8f2f2;
      border-color: #e8f2f2; }
    body #portfolio-button:hover, body #portfolio-button:active {
      background-color: #e8f2f2;
      color: #275268; }
  body .portfolio-item {
    padding: 30px 0;
    color: #333333; }
    body .portfolio-item a {
      padding-left: 0;
      color: #333333;
      font-family: "Open Sans", sans-serif;
      font-weight: 300 !important;
      font-size: .8rem; }
      body .portfolio-item a:hover {
        text-decoration: underline; }
  body .h1-site,
  body .h2-site {
    color: #e8f2f2;
    font-family: "Open Sans", sans-serif;
    font-weight: 600 !important; }
  body .h2-site {
    font-size: 1.5rem;
    padding-left: 0; }
  body p {
    color: #e8f2f2;
    font-family: "Open Sans", sans-serif;
    font-weight: 400 !important; }
    body p.project-description {
      font-size: .9rem;
      padding-left: 0; }
  body .portfolio-img {
    height: 300px;
    position: relative;
    overflow: hidden;
    background: rgba(39, 82, 104, 0.5);
    border: 10px solid white;
    border-radius: 20px; }
    body .portfolio-img:hover {
      background-color: #e8f2f2;
      cursor: pointer; }
      body .portfolio-img:hover:after {
        position: absolute;
        display: block;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        vertical-align: -50%;
        color: #275268;
        white-space: pre;
        font-family: "Open Sans", sans-serif;
        text-align: center;
        font-size: 22px;
        padding: 20px; }
      body .portfolio-img:hover#help:after {
        content: 'Employee Help Screen'; }
      body .portfolio-img:hover#idea:after {
        content: 'Employee Idea Site'; }
      body .portfolio-img:hover#icons:after {
        content: 'Material Icons'; }
    body .portfolio-img:before {
      background: #275268;
      border-radius: 20px;
      content: '';
      text-align: center;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.1; }
    body .portfolio-img#help:before {
      background: url("../../images/help-mobile.png") no-repeat 50% 60%;
      background-size: cover; }
    body .portfolio-img#idea:before {
      background: url("../../images/idea_sketch.jpg") no-repeat 55% 30%; }
    body .portfolio-img#icons:before {
      background: url("../../images/material-icons/all_icons.png") no-repeat 50% 60%;
      background-size: contain; }

body {
  font-family: "Open Sans", sans-serif;
  color: #333333; }
  body .h1-details {
    font-size: 36px;
    margin: 30px 0;
    font-weight: 700 !important; }
  body .h2-details {
    font-size: 24px;
    font-weight: 700 !important;
    margin: 30px 0; }
  body .h3-details {
    font-size: 18px;
    font-weight: 700 !important;
    margin: 15px 0; }
  body .subtitle-details {
    font-weight: 300 !important;
    font-size: 14px; }
  body .portfolio-button {
    font-family: "Open Sans", sans-serif;
    font-weight: 300 !important; }
    body .portfolio-button.btn-primary {
      background-color: #275268;
      color: #e8f2f2;
      border-color: #275268; }
      body .portfolio-button.btn-primary:hover, body .portfolio-button.btn-primary:active {
        background-color: #e8f2f2;
        color: #275268; }
    body .portfolio-button.btn-outline-primary {
      background-color: #e8f2f2;
      color: #275268;
      border-color: #275268; }
      body .portfolio-button.btn-outline-primary:hover, body .portfolio-button.btn-outline-primary:active {
        background-color: #275268;
        color: #e8f2f2; }
  body .details-text {
    font-size: 14px; }

body {
  font-family: "Lato", sans-serif; }
  body .nav-demo {
    background-color: #f2f2f2;
    font-family: "Lato", sans-serif;
    font-weight: 300 !important;
    font-size: 14px; }
  body .h1-demo {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 900 !important;
    font-size: 24px;
    padding: 20px; }
  body .h2-demo {
    font-size: 20px;
    font-weight: 900 !important;
    padding: 15px 0; }
  body .h3-demo {
    font-size: 18px;
    font-weight: 900 !important;
    margin: 15px 0; }
  body .input-demo {
    font-size: 12px;
    color: #cccccc; }
  body .categories .list-group-item {
    background-color: #e8f2f2;
    color: #275268; }
    body .categories .list-group-item:hover, body .categories .list-group-item:active {
      background-color: #275268;
      color: #e8f2f2; }
  body .question-title {
    font-size: 14px;
    font-weight: 900 !important;
    padding-top: 10px; }
  body .demo-text {
    font-size: 14px; }
  body .selected-category {
    background-color: #275268 !important;
    color: #e8f2f2 !important; }
  body .mobile-select {
    border-color: #275268;
    height: 30px;
    background-color: #FFFFFF;
    font-family: "Lato", sans-serif;
    line-height: 30; }

body {
  font-family: "Open Sans", sans-serif;
  color: #333333; }
  body .h1-details {
    font-size: 36px;
    margin: 30px 0;
    font-weight: 700 !important; }
  body .h2-details {
    font-size: 24px;
    font-weight: 700 !important;
    margin: 30px 0; }
  body .h3-details {
    font-size: 18px;
    font-weight: 700 !important;
    margin: 15px 0; }
  body .subtitle-details {
    font-weight: 300 !important;
    font-size: 14px; }
  body .details-text {
    font-size: 14px; }
  body .header-img {
    height: 30vh;
    overflow: hidden;
    background: rgba(39, 82, 104, 0.7); }
    body .header-img:before {
      content: '';
      text-align: center;
      color: black;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.3;
      background: url("../../images/material-icons/all_icons.png") no-repeat 50% 60%; }
  body .icon-img:hover {
    opacity: .6;
    cursor: pointer; }
